Source: fsvs
Section: admin
Priority: optional
Maintainer: Sheldon Hearn <sheldonh@starjuice.net>
Build-Depends: debhelper (>= 5), autotools-dev, libsvn-dev, libgdbm-dev, ctags, libaprutil1-dev, libpcre3-dev
Standards-Version: 3.8.0
Homepage: http://fsvs.tigris.org/

Package: fsvs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: subversion
Description: Full system versioning with metadata support
 FSVS is a backup/restore/versioning/deployment tool for whole directory
 trees or filesystems, with a subversion repository as the backend.
 It can do overlays of multiple repositories, to achieve some content
 separation (base install, local modifications, etc.)
